@import "tailwindcss";

@layer base {
	body {
		font-family: 'Poppins';
        margin: 0;
        /* color: white; */
	}
}

@theme {
    --color-*: initial;
    --color-Primary: #00092B;
    --color-Secondary: #151515;

    --breakpoint-*: initial;
    --breakpoint-phone: 20rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;
}